
//vars
$namespace: "namespace";
$col-padding: 10px;

.#{$namespace}-clearFix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.#{$namespace}-row{
  @extend .clearFix;
  position: relative;
}

@for $key from 1 through 12 {
  $cols: 12/$key;
  $width: 100% / $cols;

  .#{$namespace}-col-xs-#{$key} {
    position: relative;
    float: left;
    min-width: 150px;
    max-width: 250px;
    width: $width;
//    height: 150px;
    min-height: 1px;
    box-sizing: border-box;
//    margin: $col-padding $col-padding $col-padding*2 $col-padding;
    margin: 0px $col-padding;
//    background-color: #00ffef;
  }
}

.#{$namespace}-widget {
  display: table;
  margin: 0 auto;
//  background-color: #00e8d8;
}

.#{$namespace}-inner-widget-container {
  margin-right: -$col-padding;
  margin-left: -$col-padding;
}

.#{$namespace}-widget-caption {
  font-size: 24px;
  margin: 20px $col-padding 0px $col-padding;
  padding: 0 0 10px 0;
//  border-bottom: 1px solid #EDEDED;
}

//.#{$namespace}-widget-cont-row {
//  display: table-row;
//}
//
.#{$namespace}-item {
  min-height: 1px;
//  margin: -20px 0;
}

.#{$namespace}-item-img {
  width: 100%;
  min-height: 1px;
//  height: 300px;
  background-color: #008000;
}

.#{$namespace}-item-text {
  padding-top: 20px;
  padding-bottom: 20px;
}